@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* style of the feature page */
.notes-container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  background: linear-gradient(
    to bottom,
    #f5f0e1 0%,
    #e0d4b8 50%,
    #f5f0e1 100%
  );  
  overflow: hidden;
  overflow-x: auto;
}

.notes-container .main-content {
  flex: 1;
  position: relative;
}

.notes-container .main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* sidebar */

.sidebar {
  width: 300px; 
  height: 100vh;
  border-right: 2px solid #000000;
  overflow: hidden;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 2px solid #000000;
}

.sidebar-header h1 {
  margin: 0;
  color: #000000;
}

.sidebar-header button,
.sidebar-note-title button {
  background: none;
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
  border: none;
}

.sidebar-header button:hover {
  color: #04c;
  font-weight: bolder;
}

.sidebar-notes {
  height: calc(90vh - 78px);
  overflow-y: auto;
  margin-bottom: 15px;
}

.sidebar-note {
  padding: 25px;
  cursor: pointer;
  border-bottom: 2px solid #000000;
  word-wrap: break-word;
}

.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.sidebar-note button {
  color: crimson;
  border: none;
}

.sidebar-note button:hover {
  font-weight: bolder;
}

.note-sidebar-note p {
  margin: 10px 0;
}

.sidebar-note:hover {
  background: #ddd;
}

.sidebar-note.active,
.sidebar-note.active small {
  background: rgb(30, 78, 102);
  color: white;
}

/* main */

.main {
  width: 1150px;
  margin-right: 0;
  height: 100vh;
  overflow-x: hidden;
}

.main-note-edit,
.main-note-preview {
  display: block;
  width: 1150px;
  overflow-y: auto;
  word-wrap: break-word;
  height: auto;
}

.no-active-note {
  width: 1100px;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* when editing */
.main-note-edit {
  padding: 25px;
}

.main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  word-wrap: break-word;
}

.main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* when reviewing */
.main-note-preview {
  height: 40vh;
  border-top: 1px solid #000000;
  overflow: hidden;
}

.main-note-preview .preview-title {
  padding: 10px;
  margin: 10px 25px 10px 25px;
  color: #000000;
  border: 1px solid black;
  background-color: #f5f0e1;
}

.markdown-preview {
  padding: 0px 25px 25px 25px;
  font-size: 1rem;
  line-height: 1rem;
  display: block;
  background-color: #f5f0e1;
  padding: 10px;
  margin: 0px 25px 0px 25px;
  height: 70%;
  overflow-y: scroll;
}
